.container {
  max-width: 111rem;
  display: block;
  margin: 0 auto;
  padding: $default-padding;
}
.text-sub {
  color: $bg-color-nav;
  font-size: 1.8rem;
  font-weight: 700;
}
.text-title {
  font-size: 2.7rem;
  letter-spacing: 0.4rem;
}
.text-white {
  color: white !important;
}
.bg-dark {
  background-color: $bg-color-realtors !important;
}
.card {
  box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  .house__card--imgContainer {
    width: 30rem;
    &--img {
    }
  }
  .house__card--btnText {
    .btn {
      text-transform: capitalize;
    }
  }
  .house__card--items {
    &--item {
    }
  }
  .house__card--btn {
    .btn {
    }
  }
}
